{% extends 'base.html' %}


{% block content %}
  <h1 class="display-4">{{Heading}}</h1>
  <h1 class="display-4">{{Heading2}}</h1>
  <hr class="my-4">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>No</th>
        <th>Matakuliah</th>
        <th>SKS</th>
        <th>Nilai</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Algoritma dan Struktur Data</td>
        <td>4</td>
        <td>A</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Desain dan Penggunaan API</td>
        <td>3</td>
        <td>A</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Pemrograman Basis Data</td>
        <td>4</td>
        <td>A</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Analisis dan Desain Software </td>
        <td>3</td>
        <td>A</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Statistika Probabilitas</td>
        <td>3</td>
        <td>A</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Pengembangan Aplilasi Web</td>
        <td>4</td>
        <td>A</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Business Intelligence</td>
        <td>2</td>
        <td>A</td>
      </tr>
      <tr>
        <td colspan="3"><center><b>Indeks Prestasi Semester (IPS)</b></center></td>
        <td><b>4.00</b></td>
      </tr>
    </tbody>
  </table>
{% endblock %}